PORT=5000
MONGODB_URI=mongodb://varsha:varsha06@ac-0gjzrvi-shard-00-00.0g4wvqp.mongodb.net:27017,ac-0gjzrvi-shard-00-01.0g4wvqp.mongodb.net:27017,ac-0gjzrvi-shard-00-02.0g4wvqp.mongodb.net:27017/blogging-mern?ssl=true&replicaSet=atlas-tdgjb6-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=mysecretkey
CLIENT_ORIGIN=http://localhost:5173
CLOUDINARY_CLOUD_NAME=Blogging
CLOUDINARY_API_KEY=743458935418237
CLOUDINARY_API_SECRET=ptjeAzxHf50prdDA6-0N4HgZ_LA
GROQ_API_KEY=
GROQ_MODEL=llama3-8b-8192
